<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.9"><!-- Above 3 meta tags *must* come first in the head-->
        <meta name="description" content="白敬亭的粉丝站,收集小白的作品,图片,故事">
        <meta name="keyword" content="白敬亭,白鸽,粉丝,明星">
        <meta name="author" content="pudding">
        <!-- Favicon -->
        <link rel="icon" href="{{static_url('images/bai-icon.png')}}">
        <!-- Bootstrap CSS -->
        <link href="{{static_url('css/bootstrap.css')}}" rel="stylesheet">
        <!--fontawesome-->
        <link href="{{static_url('css/font-awesome.css')}}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{static_url('css/base.css')}}" rel="stylesheet">
        {% block head-extend %}{% end %}
        <style>
            /*.container {*/
                /*max-width: 1000px;*/
            /*}*/
        </style>
    </head>
    <body>
        <div id="wrapper">
            <header>
            {% block header %}
                <div class="header-bg">
                    <div class="container" id="banner">
                        <h1 id="title">白敬亭,赛高!<br><small id="sub-title">&nbsp;www.baijingting.top</small></h1>
                        <audio autoplay="autoplay" controls="controls"loop="loop" preload="auto"
                            src="{{static_url('music/qingmang.mp3')}}">
                            你的浏览器不支持audio标签
                        </audio>
                    </div><!--/.container for header-->
                </div>
            {% end %}
            </header>

            <section id="page-content">
            {% block content %}{% end %}
            </section>

            <footer>
              <div class="container">
                <div class="row">
                  <hr>
                  <div class="footer-line text-center">Copyright&copy; Pudding 2016 | All stories, art, and posts are the copyright of their respective authors.</div>
                </div>
              </div>
            </footer>
        </div>

        <!-- jQuery and Bootstrap's JavaScript plugins -->
        <script src="{{static_url('js/jquery-1.11.3.js')}}"></script>
        <script src="{{static_url('js/bootstrap.js')}}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{static_url('js/base.js')}}"></script>
        {% block script-extend %}{% end %}
    </body>
</html>





