{% extends "BasePage.html" %}

{% block head-extend %}
    <title>白敬亭,赛高! | 一个白敬亭的粉丝站</title>
    <!-- Custom css -->
    <link href="{{static_url('css/imagehover.css')}}" rel="stylesheet">
    <link href="{{static_url('css/home.css')}}" rel="stylesheet">

    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->

    <style>
        .pad-5 {
            padding: 5px;
        }
        .pad-10 {
            padding: 10px;
        }
        a:not(.nav-a):hover, a:not(.nav-a):focus, a:not(.nav-a):active{
            text-decoration: none;
            font-weight: 900;
            text-shadow: 0 1px 1px rgba(202, 202, 202, 0.8);
        }
        #icon {
            width: 30px;
            margin-left: 20px;

        }
        #title {
            font-size: 28px;
            /*margin-left: 20px;*/
            /*margin-top: 100px;*/

        }
        .article-img-container {
            width: 100%;
            height: 0;
            padding-bottom: 67%;
            overflow: hidden;
            background: #fff;
            border: 1px solid #ddd;
            border-bottom: none;
        }
        .img-responsive {
            width: 100%;
        }
        .post-content {
            background: #fff;
            border: 1px solid #ddd;
            border-top: none;
        }
        .article-title {
            font-size: 24px;
            text-transform: capitalize;
            color: #2b5d83;
        }
        .article-snippet {
            padding-bottom: 5px;
        }
        .photo-container {
            overflow: hidden;
            margin-bottom: 5px;
        }
        .imghvr-fade-in-down {
            width: 100%;
        }
        .video-cover-container{
            position: relative;
        }
        .video-time {
            position: absolute;
            background-color: rgba(12, 11, 11, 0.4);
            color: #fff;
            width: 100%;
            text-align: right;
            bottom: 0;
        }
        .video-author{
            text-align: right;
            color: #5fcf80;
        }
    </style>
{% end %}

{% block header %}
    <!--Navigation bar-->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <!--<a class="navbar-brand" href="#"><img src="{{static_url('images/bai-icon.png')}}" id="icon"></a>-->
                <a class="navbar-brand" href="#"><img src="static/images/bai-icon.png" id="icon"></a>
                <!---->
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="nav-a" href="#article">文章</a></li>
                    <li><a class="nav-a" href="#video">视频</a></li>
                    <li><a class="nav-a" href="#photo">图片</a></li>
                    <li><a class="nav-a" href="#profile">档案</a></li>
                    <li><a class="nav-a" href="#comment">评论</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ Navigation bar-->
    <!--Banner-->
    <div class="banner">
        <div class="bg-color">
            <div class="container">
                <div id="slogan" class="text-border row">
                    <h1 class="text-dec" id="title">白敬亭,赛高!<br><small id="sub-title">&nbsp;www.baijingting.top</small></h1>
                </div>
            </div>
        </div>
    </div>
    <!--/ Banner-->

{% end %}

{% block content %}
    <!--Article-->
    <section id ="article" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>新闻·采访·动态</h2>
                    <p>有关小白的故事, 人物采访, 最新动态, 都在这里</p>
                    <hr class="bottom-line">
                </div>
                {% for article in articles %}
                    <div class="col-md-4 col-sm-4 pad-5">
                        <div class="article-img-container">
                            <!--<img src="{{static_url('images/nav1-1.jpg')}}" class="img-responsive">-->
                            <img src="{{article.cover}}" class="img-responsive">
                        </div>
                        <div class="post-content pad-10">
                            <p class="article-title"><a href="{{article.detail_url}}">{{article.title}}</a><p>
                            <p class="article-snippet">{{article.snippet}}</p>
                            <a class="readmore button" rel="nofollow" href="{{article.detail_url}}">阅读全文</a>
                        </div>
                    </div>
                {% end %}
            </div>
            <div class="row">
                <div class="text-right pad-10">
                    <p><a href="#">查看全部</a></p>
                </div>
            </div>
        </div>
    </section>
    <!--/ Article-->
    <!--Video-->
    <section id="video" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>影视·综艺·剪辑</h2>
                    <p>小白拍的剧、电影,参加的节目,白鸽做的 cut 和混剪</p>
                    <hr class="bottom-line">
                </div>
            {% for video in videos %}
                <div class="col-md-4 col-sm-4 pad-5">
                    <div class="article-img-container video-cover-container">
                            <img src="{{video.cover}}" class="img-responsive">
                            <p class="video-time pad-5">{{video.video_time}}</p>
                    </div>
                    <div class="post-content pad-10">
                        <p class="article-title"><a href="{{video.detail_url}}">{{video.title}}</a><p>
                        <p class="article-snippet">{{video.snippet}}</p>
                        <p class="video-author">{{video.author}}</p>
                    </div>
                 </div>
            {% end %}
            </div>
            <div class="row">
                <div class="text-right pad-10">
                    <p><a href="#">查看全部</a></p>
                </div>
            </div>
        </div>
    </section>
    <!--/ Video-->
    <!--Photo-->
    <section id ="photo" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>写真·画作·自拍</h2>
                    <p>小白的各种图, 墙外的 Instanram 也会搬过来的</p>
                    <hr class="bottom-line">
                </div>
            </div>
        <div class="row">
        {% for photo in photos %}
            <div class="col-md-4 col-sm-6 pad-5 photo-container">
                <figure class="imghvr-fade-in-down">
                    <img src="{{photo.url}}" class="img-responsive">
                    <figcaption>
                        <h3>{{photo.title}}</h3>
                    </figcaption>
                </figure>
            </div>
        {% end %}
        </div>
        <div class="row">
            <div class="text-right pad-10">
                <p><a href="#">查看全部</a></p>
            </div>
        </div>
        </div>
    </section>
    <!--/ Photo-->
    <!--Profile-->
    <section id="profile" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>档案·黑历史</h2>
                    <p>司机白,白 bra,背锅侠……</p>
                    <hr class="bottom-line">
                </div>
            {% for profile in profiles %}
                <div class="col-sm-4">
                    <div class="profile-container" >
                        <div class="profile-image-wrapper text-center">
                            <div class="profile-img-container">
                                <img src="{{profile.cover}}" class="img-responsive">
                            </div>
                        </div>
                        <div class="profile-details text-center">
                            <a href="{{profile.detail_url}}">
                                <p class="profile-name">{{profile.title}}</p>
                                <p class="profile-title">{{profile.subtitle}}</p>
                            </a>
                            <p class="profile-bio text-justify">{{profile.snippet}}</p>
                        </div>
                    </div>
                </div>
            {% end %}
            </div>
            <div class="row">
                <div class="text-right pad-10">
                    <p><a href="#">查看全部</a></p>
                </div>
            </div>
        </div>
    </section>
    <!--/ Profile-->
    <!--Comment-->
    <section id ="comment" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>评论</h2>
                    <p>有什么意见请都写在这里吧^_^</p>
                    <hr class="bottom-line">
                </div>
                <!-- 多说评论框-->
                <div class="ds-thread" data-thread-key="index" data-title="首页" data-url="http://localhost:8084/"></div>
            </div>
        </div>
    </section>
    <!--/ Comment-->
{% end %}
{% block script-extend %}
    <script>
      $(document).ready(function(){
        // Add smooth scrolling to all links in navbar + footer link
        $(".navbar a, a.mouse-hover").on('click', function(event) {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
          });
        });
      })
    </script>

    <script>
      $(document).ready(function(){
          var ratio = 1;
          var container_width = $(".photo-container").width();
          var photo_height = container_width * ratio
          $(".photo-container").css('height', photo_height + 'px');

          $(window).resize(function() {  // !!! Event: window resize
              var container_width = $(".photo-container").width();
              var photo_height = container_width * ratio
              $(".photo-container").css('height', photo_height + 'px');
          })
      })
    </script>


    <script type="text/javascript">
        var duoshuoQuery = {short_name:"baijingting"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
    </script>
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
{% end %}





